<%- include("../includes/header.ejs", {title: 'Browse Catalog'}); %>

<!DOCTYPE html>
<html>
<head>
    <title>Browse Catalog</title>
    <style>
    #albums {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    #albums td, #albums th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #albums tr:nth-child(even){background-color: #f2f2f2;}

    #albums tr:hover {background-color: #ddd;}

    #albums th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    </style>
</head>
<body>

<h1>Browse Catalog</h1>

<table id="albums">
    <tr>
        <th>Album Name</th>
        <th>Price (USD)</th>
        <th>Number In Stock</th>
    </tr>
    <% for (var i = 0; i < result.length; i++) { %>
    <tr>
        <td> <%= result[i].AlbumName %> </td>
        <td> <%= result[i].UnitPrice %> </td>
        <td> <%= result[i].NumberInStock %> </td>
    </tr>
    <% } %>
</table>


</body>
</html>
<%- include("../includes/footer.ejs"); %>